.header {
  background-image: url("../img/background/intro-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header__menu {
  margin-bottom: 52px;
}

.header__intro {
  margin-bottom: 168px;
}
